/* styles.css */
body {
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     }
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 
 header {
    background-color: #1b8a77;
    color: #fff;
    padding: 20px;
 }
 
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 nav ul li {
    display: inline;
    margin-right: 10px;
 }
 
 nav ul li a {
    color: #0af0f8;
    text-decoration: none;
 }
 
 section {
    padding: 50px;
 }
 
 footer {
    background-color: #1b8a77;
    color: #fff;
    padding: 20px;
    text-align: center;
 }